.cantear {
    padding-top: 20px;
    margin: 20px auto;  
    background-color: black;
    box-shadow: 0px 5px 13px 6px rgba(77, 64, 64, 0.945);
    color: white;
    width: 90%; 
    max-width: 350px; 
    padding: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    height: auto; 
    text-align: center;
    border-radius: 10px;
}

h2 {
    text-align: center; /* Centering heading */
    font-size: 30px;
    margin-bottom: 20px;
}

body {
    background-color: rgba(128, 128, 128, 0.404);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cantear input {
    width: 90%; 
    max-width: 250px;
    height: 35px;
    margin-bottom: 10px;
    padding: 5px;
}

button {
    width: 100px;
    height: 35px;
    margin-top: 10px;
}

table {
    margin: 50px auto;
    width: 90%;
    max-width: 500px;
}


@media (max-width: 768px) {
    .cantear {
        width: 80%;
        max-width: 300px;
    }

    h2 {
        font-size: 25px;
    }

    .cantear input {
        width: 100%;
    }

    button {
        width: 100%;
    }

    table {
        width: 100%;
    }
}
